h1 {
    color: orange;
    font-size: small;
}
.main {
    background-color: gray;
    border: 2px solid gray;
    width: 720px;
    margin: 0 auto;
}
.top {
    background-image: url(img/top_bg.jpg);
    height: 400px;
}
.top.m {
    width: 600px;
    margin: 0 auto;
    height: 400px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.features {
    background-color: blue;
    height: 150px;
}
.widget {
    background-color: rebeccapurple;
    height: 300px;
}
.screenshot_top {
    background-color: green;
    height: 300px;
}
.screenshot_middle {
    background-color: yellowgreen;
    height: 300px;
}
.screenshot_bottom {
    background-color: royalblue;
    height: 300px;
}
.reviews {
    background-color: tomato;
    height: 300px;
}
.download {
    background-color: blue;
    height: 150px;
}
.footer {
    background-color: blue;
    height: 150px;
}
